@charset "utf-8";
/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 15px;
    margin: 0;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
}
/* Reset css */
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: 500;
    line-height: 1.3em;
}
input, button, textarea {
    outline: none;
}
button {
    cursor: pointer;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Common CSS */
.inner {
    width: 1300px;
    margin: auto;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    transition: 0.5s;
}
.banner {
    background-color: #000;
    height: 40px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.lnb {
    width: 1300px;
    margin: auto;
    text-align: right;
}
.lnb a {
    color: #ddd;
    margin: 10px;
}
.lnb a:last-child {
    margin-right: 0;
}
.lnb a em {
    color: #bbb;
    font-style: normal;
}
nav {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo a {
    display: flex;
    align-items: center;
}
.logo img {
    height: 55px;
}
.gnb {
    display: flex;
}
.gnb li a {
    margin: 15px;
    color: #fff;
}
.gnb li a:hover {
    color: #333;
}
.gnb li a:last-child {
    margin-right: 0;
}
.trigger {
    display: none;
}
/* Header with active class */
header.active {
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}
header.active .gnb li a {
    color: #000;
}
header.active .banner {
    height: 0;
    overflow: hidden;
}
header.active nav {
    padding-bottom: 20px;
}
/* gototop */
.gototop {
    background: linear-gradient(45deg, skyblue, rgb(0, 175, 245));
    position: fixed;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    right: 20px;
    bottom: -30px;
    opacity: 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    transition: 1s;
}
.gototop.active {
    bottom: 30px;
    opacity: 1;
}
/* Intro */
.intro {
    height: 100vh;
    background: url(./images/intro.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.heading {
    color: #222;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.623);
    border: 5px solid rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 30% 50% 60% 40% / 50% 40% 60% 50%;
}
.heading h1 {
    font-size: 70px;
    margin: 40px 0;
}
.heading p {
    font-size: 22px;
    line-height: 1.5em;
    padding: 0 150px;
}
/* Section: about */
.about-content {
    display: flex;
    padding: 150px 0;
}
.about-content div {
    padding: 30px;
}
.desc {
    text-align: center;
    flex: 5;
}
.desc h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.desc p {
    font-size: 18px;
    line-height: 1.7em;
}
.desc a {
    color: #c25a3a;
    font-weight: bold;
}
.desc a:hover {
    text-decoration: underline wavy;
}
.photo {
    flex: 2;
}
.photo img {
    width: 80%;
    border-radius: 40% 60% 65% 35% / 40% 45% 50% 55%;
}
/* Section: episode */
.episode {
    background-color: #f8f8f8;
}
.episode-content {
    padding: 100px 0;
}
.episode-content h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.items {
    display: flex;
    justify-content: space-between;
}
.item {
    width: 390px;
    height: 600px;
    border-radius: 30px 0 30px 0;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.11);
}
.up-image {
    width: 390px;
    height: 285px;
    position: relative;
}
.up-image img {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.down-desc {
    padding: 25px;
    padding-top: 40px;
}
.down-desc h3 {
    font-size: 22px;
    margin: 15px 0;
}
.down-desc p {
    font-size: 16px;
}
.btn-explore {
    color: #c25a35;
    font-weight: bold;
}
.btn-explore img {
    transition: 0.3s;
}
.btn-explore:hover img {
    transform: scale(0.8) translateX(20px);
}
.badge {
    color: #fff;
    padding: 2px 10px;
    font-size: 18px;
}
.badge.must {
    background-color: #e60012;
}
.badge.good {
    background-color: rgb(0, 100, 230);
}
/* Section: review */
.review {
    padding: 100px 0;
}
.review-content {
    text-align: center;
}
.review-content h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
.review-content hr {
    border: none;
    height: 4px;
    width: 120px;
    background-color: #1c43e4;
    margin: 20px auto;
}
.client {
    display: flex;
    align-items: center;
    justify-content: center;
}
.client img {
    width: 85px;
    border-radius: 50%;
    margin-right: 10px;
}
.client span {
    display: block;
    text-align: left;
    font-size: 20px;
    line-height: 1.7em;
}
.client span b {
    display: block;
}
.comment {
    font-size: 18px;
    line-height: 1.6em;
    padding: 25px;
}
/* Section: callaction */
.callaction {
    height: 450px;
    background: url(./images/banner.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.callaction::before {
    content: '';
    background: linear-gradient(to right bottom, rgba(73, 10, 73, 0.719), rgba(83, 57, 8, 0.733));
    width: 100%;
    height: 100%;
    position: absolute;
}
.callaction-heading {
    text-align: center;
    position: relative;
}
.callaction-heading h2 {
    font-weight: 300;
    color: #fff;
    font-size: 48px;
    line-height: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 50px;
}
.callaction-heading h2 b {
    font-weight: 500;
}
.callaction-heading a {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
}
.callaction-heading a:hover {
    background-color: #000;
}
/* Section: blog */
.blog {
    padding: 100px 0;
}
.blog-header {
    font-weight: 500;
}
.blog-header h6,
.main-chara-items h6,
.other-chara-items h6 {
    text-transform: uppercase;
    font-size: 18px;
    color: #00a0e9;
}
.main-chara-items h6,
.other-chara-items h6 {
    color: #000;
    margin-bottom: 30px;
}
.blog-header h2 {
    text-transform: uppercase;
    font-size: 48px;
    margin: 50px 0;
}
.blog-header p {
    font-size: 24px;
    line-height: 1.6em;
}
.divider {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 40px 0;
}
.chara-content {
    display: flex;
    justify-content: space-between;
}
.chara-content .divider {
    margin: 20px 0;
    border-bottom: 1px solid #eee;
}
.main-chara-items {
    flex: 2;
}
.other-chara-items {
    width: 360px;
}
.chara-item {
    display: flex;
}
.other-chara-items .chara-item {
    flex-direction: column;
}
.chara-image {
    width: 360px;
    border-radius: 30px 0 30px 0;
    overflow: hidden;
}
.chara-image img {
    width: 100%;
}
.chara-desc {
    flex: 3;
    padding: 0 20px;
}
.other-chara-items .chara-desc {
    padding: 0;
}
.chara-desc h3 {
    font-size: 24px;
    text-transform: uppercase;
}
.chara-desc p {
    font-size: 18px;
    line-height: 1.6em;
}
.chara-desc p span {
    font-size: 14px;
    color: #6d6d6d;
    display: block;
    margin-top: 20px;
}
/* Section: animation */
.animation {
    height: 270px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation-heading {
    text-align: center;
}
.animation-heading h3 {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 50px;
}
.animation-heading h3 span {
    font-weight: 500;
}
.btns a {
    background-color: #fff;
    width: 200px;
    display: inline-block;
    padding: 6px;
    border-radius: 10px;
    margin: 5px;
    font-weight: 400;
    font-size: 18px;
}
.btns a:first-child {
   background-color: #fac53b;
   color: #fff; 
}
.btns a:last-child {
    background-color: #ededed;
    color: #333; 
}
.btns a:hover {
    background: #000;
    color: #fff;
}
/* Footer */
footer {
    background-color: #000;
    padding: 30px 0;
}
.footer-content {
    display: flex;
}
.footer-content ul {
    text-align: center;
}
.footer-content ul li:first-child {
    font-weight: 500;
    color: #d9d9d9;
}
.footer-content ul li a {
    color: #959595;
}
.footer-content ul li a:hover {
    text-decoration: underline wavy;
}
.community {
    flex: 1;
}
.network {
    flex: 1;
}
.help {
    flex: 2;
}
.help li {
    color: #959595;
}
.help li:last-child {
    margin-top: 35px;
    color: #eee;
}